<app-header></app-header>
<swiper [slidesPerView]="3" [spaceBetween]="50" (swiper)="onSwiper($event)" (slideChange)="onSlideChange()" [navigation]="true" [pagination]="{ clickable: true }" [scrollbar]="{ draggable: true }">
  <ng-template swiperSlide>
    <div class="card card-poster gradient-overlay hover-animate mb-4 mb-lg-0"><a class="tile-link" href="category.html"></a><img class="bg-image" src="https://d19m59y37dris4.cloudfront.net/directory/1-5/img/photo/new-york.jpg" alt="Card image">
      <div class="card-body overlay-content">
        <h6 class="card-title text-shadow text-uppercase">New York</h6>
        <p class="card-text text-sm">The big apple</p>
      </div>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="card card-poster gradient-overlay hover-animate mb-4 mb-lg-0"><a class="tile-link" href="category.html"></a><img class="bg-image" src="https://d19m59y37dris4.cloudfront.net/directory/1-5/img/photo/new-york.jpg" alt="Card image">
      <div class="card-body overlay-content">
        <h6 class="card-title text-shadow text-uppercase">New York</h6>
        <p class="card-text text-sm">The big apple</p>
      </div>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="card card-poster gradient-overlay hover-animate mb-4 mb-lg-0"><a class="tile-link" href="category.html"></a><img class="bg-image" src="https://d19m59y37dris4.cloudfront.net/directory/1-5/img/photo/new-york.jpg" alt="Card image">
      <div class="card-body overlay-content">
        <h6 class="card-title text-shadow text-uppercase">New York</h6>
        <p class="card-text text-sm">The big apple</p>
      </div>
    </div>
  </ng-template>

  <ng-template swiperSlide>
    <div class="card card-poster gradient-overlay hover-animate mb-4 mb-lg-0"><a class="tile-link" href="category.html"></a><img class="bg-image" src="https://d19m59y37dris4.cloudfront.net/directory/1-5/img/photo/new-york.jpg" alt="Card image">
      <div class="card-body overlay-content">
        <h6 class="card-title text-shadow text-uppercase">New York</h6>
        <p class="card-text text-sm">The big apple</p>
      </div>
    </div>
  </ng-template>

</swiper>
<app-footer></app-footer>
