<div class="main">
  <header>
    <h1><a ><img src="/src/assets/images/logo.png" alt=""></a></h1>
    <div class="clear"></div>
    <nav class="box-shadow">
      <div>
        <ul class="menu">
          <li class="home-page"><a routerLink="/Home"><span></span></a></li>
          <li *ngIf="isAdminRegional"><a routerLink="">Monuments (liste des nouveaux monuments)</a></li>
          <li *ngIf="isAdminRegional"><a routerLink="">Constats (liste des nouveaux constats)</a></li>
          <li><a routerLink="/add-monument">Nouveau Monument</a></li>
          <li *ngIf="isRecenseur" ><a routerLink="">Nouveau Constat</a></li>
          <li *ngIf="isRecenseur" ><a routerLink="">Nouvel événement ou Travail</a></li>
          <li *ngIf="isGestComptes"><a routerLink="">Nouvel utilisateur</a></li>
          <li *ngIf="isGestComptes"><a routerLink="">Nouveau compte</a></li>
          <li *ngIf="isGestComptes"><a routerLink="">Utilisateurs</a></li>

          <li><a routerLink="/Map">MAP</a></li>

        </ul>
        <ul class="right">

          <li>
            <a (click)=logout()>Déconnexion</a>
          </li>
          <li>
        <!--    <a ><span class="glyphicon glyphicon-user">{{compte.login}} | {{compte.privilege}}</span></a>-->
          </li>
        </ul>
        <div class="clear"></div>
      </div>
    </nav>
  </header>
</div>
