<!-- Default form login -->

<form (ngSubmit)="login()" [formGroup]="loginForm" class="text-center border border-light p-5" >
  <!---->
  <p class="h4 mb-4">S'authentifier</p>

  <input type="text" id="username" class="form-control mb-4" formControlName="username" placeholder="username">

  <!-- Password -->
  <input type="password" id="password" class="form-control mb-4" formControlName="password" placeholder="Password">

  <p style="color:red;">{{error}}</p>
  <!-- Sign in button -->
  <button  color="info" block="true" class="my-4" type="submit">Login</button>



</form>

<!-- Default form login -->
